{% extends 'base.html.twig' %}

{% block title %}User Edit{% endblock %}

{% block body %}
<section id="forgot" class="masthead bg-primary">
    <div class="container bg-white py-5 rounded">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="row mb-2">
                    <h1 class="text-center">User Edit</h1>
                    <hr class="divider" />
                </div>
                {% include "core/flashbag.html.twig" %}
                <div class="col-12 text-center pb-3"><img src="{{ picture }}" class="img-thumbnail" width="150px"/></div>
                {{ form_start(userPreferencesForm) }}
                {{ form_row(userPreferencesForm.firstname, {'attr':{'placeholder':'Enter your firstname'}}) }}
                {{ form_row(userPreferencesForm.lastname, {'attr':{'placeholder':'Enter your lastname'}}) }}
                {{ form_row(userPreferencesForm.picture, {'attr':{'placeholder':'select your picture'}}) }}
                    {{ form_row(userPreferencesForm.email, {'attr':{'placeholder':'Enter your email'}}) }}
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(userPreferencesForm) }}
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
