{% import '/macro/button.html.twig' as button %}
{% set previousLink = path('app_type') %}
{% if editMode %}
{% set titleTrick = "Edit Type Trick" %}
{% set buttonTrick = "Update" %}
{% else %}
{% set titleTrick = "Add Type Trick" %}
{% set buttonTrick = "Submit" %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}{{titleTrick}}{% endblock %}

{% block body %}
<section id="add_typeTrick" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {{button.previous(previousLink)}}
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">{{titleTrick}}</h1>
                        <hr class="divider" />
                    </div>
                    
                    {% include "core/flashbag.html.twig" %}

                    {{ form_start(typeTrickForm) }}
                    {{ form_row(typeTrickForm.name) }}
                    {{ form_row(typeTrickForm.description) }}
                    <button type="submit" class="btn btn-primary">{{buttonTrick}}</button>
                    {{ form_end(typeTrickForm) }}
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}