{% import '/macro/button.html.twig' as button %}

{% if app.user %}
{% set previousLink = path('app_type') %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}Type Trick Delete{% endblock %}

{% block body %}
<section id="type_delete" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {% if app.user %}
        {{button.previous(previousLink)}}
        {% endif %}

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">Type Trick Delete</h1>
                        <hr class="divider" />
                    </div>
                    <div class="row">
                        <div class="col-12 alert alert-primary text-center">
                            Confirm deletion of the following Type Trick :
                             <br />                          
                            {{ type.name|upper}}
                        </div>
                        <div class="col-12 text-center">
                            {{ form_start(deleteForm, {'attr':{'class':'col-12'}}) }}
                            {{ form_widget(deleteForm.name) }}
                            <br/>
                            {{ form_widget(deleteForm.submit) }}
                            {{ form_end(deleteForm) }}
                        </div>
                        
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}