{% import '/macro/button.html.twig' as button %}
{% set previousLink = path('app_user_edit',{id:app.user.id}) %}
{% extends 'base.html.twig' %}

{% block title %}Type Trick{% endblock %}

{% block body %}
<section id="type" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {{button.previous(previousLink)}}
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="row mb-2">
                    <h1 class="text-center">Type Trick</h1>
                    <hr class="divider" />
                </div>
                {% include "core/flashbag.html.twig" %}

                <div class="row my-2">
                    <div class="col"><a href="{{ path('app_type_add') }}" class="btn btn-primary my-1">Add type Trick</a></div>
                </div>

                <table class="table text-primary">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for type in types %}
                        <tr>
                            <td class="align-middle">{{ type.id }}</td>
                            <td class="align-middle">{{ type.name|upper }}</td>
                            <td class="align-middle">{{ type.description }}</td>
                            <td class="align-middle">
                                <a href="{{ path('app_type_edit',{id:type.id }) }}" class="btn btn-warning my-1">Edit</a>
                                <a href="{{ path('app_type_delete',{id:type.id }) }}" class="btn btn-danger my-1">Delete</a>
                            </td>
                        </tr>

                        {% else %}
                        <tr>
                            <td colspan="5">No Type Trick</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>

{% endblock %}