<!-- Tricks-->
{% set limit = 11 %}

<section id="tricks" class="slavehead">
    <div class="container p-0">
        <div class="row g-0">
            <h1 class="text-center">Tricks</h1>
            <hr class="divider" />
        </div>
        <div id="element" data-id="{{ limit }}" class="row p-4 d-flex justify-content-around">
            {% for key, trick in tricks %}
            <div id="{{'trick-' ~ key}}" class="col-12 col-md-10 col-lg-6 col-xl-4 mb-4 d-none">
                <a href="{{ path('app_show_trick',{'slug':trick.slug}) }}" title="{{ trick.title }}">
                    {% if trick.featuredPicture starts with 'http' %}
                    <img class="img-fluid featuredPicture" src="{{ trick.featuredPicture }}" alt="{{ trick.title }}" />
                    {% elseif trick.featuredPicture %}
                    <img class="img-fluid featuredPicture" src="{{" /assets/tricks/" ~ trick.featuredPicture}}"
                        alt="{{ trick.title }}" />
                    {% else %}
                    <img class="img-fluid featuredPicture" src="/SnowTricks.png" alt="{{ trick.title }}" />
                    {% endif %}
                </a>

                <div class="bg-primary text-white  p-2 h5 d-flex justify-content-between">
                    <a href="{{ path('app_show_trick',{'slug':trick.slug}) }}" title="{{ trick.title }}">
                        <span class="col-auto text-white">{{ trick.title }}</span>
                    </a>
                    <span class="col-auto text-white">
                        {% if is_granted("TRICK_EDIT", trick) %}
                        <a href="{{ path('app_edit_trick',{'id':trick.id}) }}" class="text-light mx-3"
                            title="Edit Trick">
                            <i class="fa fa-pen fa-1x" title="Edit Trick"></i></a>
                        {% endif %}
                        {% if is_granted("TRICK_DELETE", trick) %}

                        <a href="#" class="text-white deleteTrick" title="Delete Trick" href="#" data-id="{{trick.id}}"
                            data-title="{{trick.title}}" data-bs-toggle="modal" data-bs-target="#delete">
                            <i class="fa fa-trash fa-1x" title="Delete Trick"></i></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <a href="#" class="btn btn-primary" id="loadMore">
            Load More
        </a>
        <div id="loadMoreEnd" class="trickload">No more tricks</div>
    </div>
    <div class="container-fluid px-4 px-lg-5  mb-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-primary rounded px-3" href="#page-top"><i class="fas fa-angle-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>