{% import '/macro/button.html.twig' as button %}
{% set previousLink = path('app_user_edit',{id:app.user.id,_fragment:'menu_admin'}) %}
{% extends 'base.html.twig' %}
{% set limit = 10 %}
{% block title %}Comments{% endblock %}

{% block body %}
<section id="admin" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {{button.previous(previousLink)}}

        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="row mb-2">
                    <h1 class="text-center">Comments</h1>
                    <hr class="divider" />
                </div>
                {% include "core/flashbag.html.twig" %}

                <table id="element" data-id="{{ limit }}" class="table text-primary">
                    <thead>
                        <th>ID</th>
                        <th>Content</th>
                        <th>Trick</th>
                        <th>Author</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for key, comment in comments %}
                        <tr id="{{'trick-' ~ key}}" class="d-none">
                            <td class="align-middle">{{ comment.id }}</td>
                            <td class="align-middle text-justify">{{ comment.content|raw }}</td>
                            <td class="align-middle">{{ comment.trick.title }}</td>
                            <td class="align-middle">{{ comment.user.firstname|capitalize ~ " " ~ comment.user.lastname|upper }}
                            </td>
                            <td class="align-middle">{{ comment.createdAt|date("m/d/Y") }}</td>
                            <td class="align-middle">
                                <a href="{{ path('app_comment_delete',{id:comment.id }) }}" class="btn btn-danger my-1">Delete</a>
                            </td>
                        </tr>

                        {% else %}
                        <tr>
                            <td colspan="5">No comments</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    <a href="#" class="btn btn-primary" id="loadMore">
                        Load More
                    </a>
                    <div id="loadMoreEnd" class="trickload">No more comments</div>
                </div>


            </div>
        </div>
    </div>
</section>

{% endblock %}