{% import '/macro/button.html.twig' as button %}
{% set previousLink = path('app_users') %}
{% extends 'base.html.twig' %}

{% block title %}User Delete{% endblock %}

{% block body %}
<section id="profile" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {{button.previous(previousLink)}}
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">User Delete</h1>
                        <hr class="divider" />
                    </div>
                    <div class="row">
                        <div class="col-12 alert alert-primary text-center">
                            Confirm deletion of the following user :
                            <br />
                            {{ user.firstname|capitalize ~ " " ~ user.lastname|upper }}
                            <br>
                            <span>{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            
                            {{ form_start(deleteForm, {'attr':{'class':'col-12'}}) }}
                            {{ form_widget(deleteForm.email) }}
                            <br/>
                            {{ form_widget(deleteForm.submit) }}
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}