{% import '/macro/button.html.twig' as button %}
{% if app.user %}
{% set previousLink = path('app_user_edit',{id:app.user.id,_fragment:'menu_admin' }) %}
{% endif %}

{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<section id="admin" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">

        {% if app.user %}
        {{button.previous(previousLink)}}
        {% endif %}
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="row mb-2">
                    <h1 class="text-center">Users</h1>
                    <hr class="divider" />
                </div>
                {% include "core/flashbag.html.twig" %}

                <table class="table text-primary">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Tricks</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="align-middle">{{ user.id }}</td>
                            <td class="align-middle">{{ user.firstname|capitalize ~ " " ~ user.lastname|upper }}</td>
                            <td class="align-middle">{{ user.email }}</td>
                            <td class="align-middle">{% for role in user.roles %}
                                <span class="badge bg-secondary text-dark">{{ role|replace({'ROLE_ADMIN': "ADMIN",
                                    'ROLE_USER': "USER"}) }}</span>
                                {% endfor %}
                            </td>
                            <td class="align-middle">{{ user.tricks|length }}</td>
                            <td class="align-middle">{{ user.comments|length }}</td>
                            <td class="align-middle">
                                <a href="{{ path('app_user_edit',{id:user.id, d:1 }) }}"
                                    class="btn btn-primary my-1">Edit Profile</a>
                                <a href="{{ path('app_user_role',{id:user.id, d:1 }) }}"
                                    class="btn btn-warning my-1">Edit Role</a>
                                <a href="{{ path('app_user_delete',{id:user.id }) }}"
                                    class="btn btn-danger my-1">Delete</a>
                            </td>
                        </tr>

                        {% else %}
                        <tr>
                            <td colspan="5">No users</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>

{% endblock %}