{% import '/macro/button.html.twig' as button %}

{% if app.user %}
{% set previousLink = path('app_users') %}
{% endif %}

{% extends 'base.html.twig' %}
{% if page == "false" %}
{% set titlePage = 'My Profile' %}
{% set titleTrick = 'My Tricks' %}
{% set titleComment = 'My Comments' %}

{% else %}
{% set titlePage = 'User Edit' %}
{% set titleTrick = 'Tricks' %}
{% set titleComment = 'Comments' %}
{% endif %}
{% set limit = 10 %}
{% block title %}{{ titlePage }}{% endblock %}

{% block body %}
<section id="profile" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {% if page == "true" and app.user %}
        {{button.previous(previousLink)}}
        {% endif %}
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">{{ titlePage }}</h1>
                        <hr class="divider" />
                    </div>



                    {% include "core/flashbag.html.twig" %}
                    <div class="col-12 text-center pb-3">{% if picture %}<img src="{{ picture }}" class="img-thumbnail"
                            width="150px" />{% else %}<i class="fas fa-user fa-3x text-primary"></i>{% endif %}</div>
                    {{ form_start(userPreferencesForm) }}
                    {{ form_row(userPreferencesForm.firstname, {'attr':{'placeholder':'Enter your firstname'}}) }}
                    {{ form_row(userPreferencesForm.lastname, {'attr':{'placeholder':'Enter your lastname'}}) }}
                    {{ form_row(userPreferencesForm.picture, {'attr':{'placeholder':'select your picture'}}) }}
                    {{ form_row(userPreferencesForm.email, {'attr':{'placeholder':'Enter your email'}}) }}

                    <button type="submit" class="btn btn-primary">Update</button>
                    {{ form_end(userPreferencesForm) }}

                   
                </div>

            </div>
            {% if is_granted('ROLE_ADMIN') and page == "false" %}
        <div id="menu_admin" class="row container mt-5 px-4 text-center">
            <div class="col py-4 border border-info rounded">
                <a href="{{ path('app_users') }}" class="btn btn-info my-1">Users
                    Administration</a>
                &nbsp;&nbsp;
                <a href="{{ path('app_comments') }}" class="btn btn-info my-1">Comments Administration</a>
                &nbsp;&nbsp;
            <a href="{{ path('app_type') }}" class="btn btn-info my-1">Type Trick Administration</a>
            </div>
            
        </div>
        {% endif %}
        </div>
        
        <h2 class="text-center mt-5">{{ titleTrick }}</h2>
        {% if page == "false" %}
        <div class="row mt-2 px-4">
            <div class="col"><a href="{{ path('app_add_trick') }}" class="btn btn-primary my-1">Add Trick</a></div>
        </div>
        {% endif %}
        <div class="row container mt-2">
            <div class="col table-responsive">
                <table id="element" data-id="{{ limit }}" class="table text-primary ">
                    <thead>
                        <th>ID</th>
                        <th>Trick</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for key, trick in user.tricks %}
                        <tr id="{{'trick-' ~ key}}" class="d-none">
                            <td class="align-middle">{{ trick.id }}</td>
                            <td class="align-middle"><span class="fw-bold">{{ trick.title|upper }}</span><small
                                    class="d-block">{{ trick.type.name|default('uncategorized') }}</small></td>
                            <td class="align-middle"><span class="fw-bold">{{ trick.createdAt|date("m/d/Y") }}</span>{%
                                if trick.updatedTo %}<small class="d-block">(updated to {{ trick.updatedTo|date("m/d/Y")
                                    }})</small>{% endif %}</td>
                            <td class="align-middle">
                                <a href="{{ path('app_show_trick',{slug:trick.slug, d:1}) }}"
                                    class="btn btn-info my-1">Show</a>
                                <a href="{{ path('app_edit_trick',{id:trick.id, d:1}) }}"
                                    class="btn btn-warning my-1">Edit</a>
                                <a href="#" class="btn btn-danger my-1 deleteTrick" title="Delete Trick" href="#"
                                    data-id="{{trick.id}}" data-title="{{trick.title}}" data-bs-toggle="modal"
                                    data-bs-target="#delete">Delete</a>
                            </td>
                        </tr>

                        {% else %}
                        <tr>
                            <td class="text-center" colspan="4">No tricks</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {% if user.tricks|length > limit %}
                <div class="text-center">
                    <a href="#" class="btn btn-primary" id="loadMore">
                        Load More
                    </a>
                    <div id="loadMoreEnd" class="trickload">No more tricks</div>
                </div>
                {% endif %}
            </div>
        </div>

        <h2 class="text-center mt-5">{{ titleComment }}</h2>
        
        <div class="row container mt-2">
            <div class="col table-responsive">
                <table id="element" data-id="{{ limit }}" class="table text-primary ">
                    <thead>
                        <th>ID</th>
                        <th>Content</th>
                        <th>Created At</th>
                    </thead>
                    <tbody>
                        {% for key, comment in user.comments %}
                        <tr id="{{'comment-' ~ key}}" class="d-none">
                            <td class="align-middle">{{ comment.id }}</td>
                            <td class="align-middle">{{ comment.content }}</td>
                            <td class="align-middle"><span class="fw-bold">{{ comment.createdAt|date("m/d/Y") }}</span></td>
                        </tr>

                        {% else %}
                        <tr>
                            <td class="text-center" colspan="4">No comments</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {% if user.comments|length > limit %}
                <div class="text-center">
                    <a href="#" class="btn btn-primary" id="loadMoreComment">
                        Load More
                    </a>
                    <div id="loadMoreEndComment" class="trickload">No more comments</div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</section>
{% include "trick/modal_delete.html.twig" %}
{% endblock %}